@model HospiLatina.Data.Entities.Cita

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<div class="card">
    <div class="card-header">
        Crear Cita
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Profesor" class="control-label"></label>
                <select asp-for="IdProfesor" class="form-control" asp-items="@(new SelectList(ViewBag.IdProfesor, "Value", "Text", null))">
                    <option value="">Seleccione un profesor</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Procedimiento" class="control-label"></label>
                <select asp-for="IdProcedimiento" class="form-control" asp-items="@(new SelectList(ViewBag.IdProcedimiento, "Value", "Text", null))">
                    <option value="">Seleccione un procedimiento</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Estudiante" class="control-label"></label>
                <select asp-for="IdEstudiante" class="form-control" asp-items="@(new SelectList(ViewBag.IdEstudiante, "Value", "Text", null))">
                    <option value="">Seleccione un estudiante</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" type="time" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Consultorio" class="control-label"></label>
                <select asp-for="IdConsultorio" class="form-control" asp-items="@(new SelectList(ViewBag.IdConsultorio, "Value", "Text", null))">
                    <option value="">Seleccione un consultorio</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Paciente" class="control-label"></label>
                <select asp-for="IdPaciente" class="form-control" asp-items="@(new SelectList(ViewBag.IdPaciente, "Value", "Text", null))">
                    <option value="">Seleccione un paciente</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Sala" class="control-label"></label>
                <select asp-for="IdSala" class="form-control" asp-items="@(new SelectList(ViewBag.IdSala, "Value", "Text", null))">
                    <option value="">Seleccione una sala</option>
                </select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ml-2">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
