@model HospiLatina.Data.Entities.Cita

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro que deseas eliminar esta cita?</h3>
<div class="card">
    <div class="card-header">
        Cita
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hora)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Profesor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Profesor.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Procedimiento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Procedimiento.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estudiante)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estudiante.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Consultorio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consultorio.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Paciente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Paciente.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sala)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sala.Nombre)
            </dd>
        </dl>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdCita" />
    <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
    <a asp-action="Index" class="btn btn-outline-secondary ml-2">Regresar</a>
</form>
