@model IEnumerable<HospiLatina.Data.Entities.Cita>

@{
    ViewData["Title"] = "Index";
}

<h1>Citas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimiento.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultorio.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Nombre)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Procedimiento.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCita" class="btn btn-outline-primary ml-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdCita" class="btn btn-outline-info ml-2">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCita" class="btn btn-outline-danger ml-2">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
