@model IEnumerable<HospiLatina.Data.Entities.Procedimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Procedimientos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProcedimiento" class="btn btn-outline-primary ml-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdProcedimiento" class="btn btn-outline-info ml-2">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProcedimiento" class="btn btn-outline-danger ml-2">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
