@model IEnumerable<HospiLatina.Data.Entities.Profesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Profesores</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo</a>
</p>
<table id="profesoresTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
                <br />
                <input type="text" class="form-control form-control-sm" placeholder="Buscar Nombre" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
                <br />
                <input type="text" class="form-control form-control-sm" placeholder="Buscar Apellido" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
                <br />
                <input type="text" class="form-control form-control-sm" placeholder="Buscar Especialidad" />
            </th>
            <th class="text-center">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="height: 60px;">
                <!-- Aplica una altura fija -->
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdProfesor" class="btn btn-outline-primary ml-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdProfesor" class="btn btn-outline-info ml-2">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProfesor" class="btn btn-outline-danger ml-2">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#profesoresTable').DataTable({
                "order": [[0, "asc"]], // Orden inicial por la primera columna
                "paging": true, // Habilitar paginación
                "searching": true, // Mantener la búsqueda activada para los filtros de columnas
                "autoWidth": false, // Deshabilitar el auto-ajuste de ancho
                "lengthChange": true, // Habilitar la capacidad de cambiar el número de elementos por página
                "pageLength": 10, // Número inicial de registros por página
                "lengthMenu": [10, 25, 50], // Opciones para el número de registros por página
                "info": false, // Deshabilitar la información de cantidad de registros
                "dom": 'lrt<"bottom"ip>', // Incluir el control de longitud de página
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json" // Traducción al español
                }
            });

            // Filtrar por cada columna usando los inputs en el encabezado
            $('#profesoresTable thead input').on('keyup change', function () {
                table.column($(this).parent().index()).search(this.value).draw();
            });

            // Mantener el tamaño de las filas consistente
            table.on('draw.dt', function () {
                $('#profesoresTable tbody tr').css('height', '60px'); // Ajusta el tamaño según sea necesario
            });
        });
    </script>
}
