@model HospiLatina.Data.Entities.Factura

@{
    ViewData["Title"] = "Borrar Factura";
}

<h1>Borrar Factura</h1>

<h3>¿Estás seguro que deseas eliminar esta factura?</h3>

<div class="card">
    <div class="card-header">
        Factura
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetallesFactura.FirstOrDefault().Cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetallesFactura.FirstOrDefault().Cantidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Paciente.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Paciente.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetallesFactura.FirstOrDefault().Procedimiento.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetallesFactura.FirstOrDefault().Procedimiento.Nombre)
            </dd>
        </dl>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdFactura" />
    <input type="submit" value="Borrar" class="btn btn-outline-danger" />
    <a asp-action="Index" class="btn btn-outline-secondary ml-2">Regresar</a>
</form>
