@model HospiLatina.Data.Entities.Factura

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.IdPaciente)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFactura" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary ml-2">Regresar</a>
    </form>
</div>
