@model IEnumerable<HospiLatina.Data.Entities.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturación</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>Acciónes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFactura" class="btn btn-outline-primary ml-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdFactura" class="btn btn-outline-info ml-2">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdFactura" class="btn btn-outline-danger ml-2">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
